.divImage {
  width: 90%;
  height: 70vh;
  align-items: center;
  margin: 40px auto;
  background-image: url('../../images/illustration-laptop-mobile.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.divImageS {
  width: 90%;
  height: 70vh;
  align-items: center;
  margin: 40px auto;
  background-image: url('../../images/illustration-editor-mobile.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
