.mainCircle {
  background-color: hsl(208, 49%, 24%);
  background-image: url('../../images/bg-pattern-circles.svg');
  background-size: 60%;
  background-position: -100px -400px;
  background-repeat: no-repeat;
  border-radius: 0 100px 0 100px;
}
.mainCircle > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1300px;
  margin: auto;
  height: 100%;
}
.phoneDiv {
  width: 100%;
  position: relative;
}
.phoneDiv > img {
  width: 100%;
  position: absolute;
  z-index: 10;
  transform: translateY(-20%);
}

.circleContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  color: white;
  text-align: center;
  padding: 100px 30px;
}

.circleContainer h1 {
  font-size: 38px;
}
.circleContainer p {
  margin-top: 15px;
  line-height: 2;
  font-size: 16px;
  text-align: justify;
}

@media (max-width: 768px) {
  .mainCircle > div {
    grid-template-columns: 1fr;
  }
  .phoneDiv {
    transform: translateY(-10%);
  }
  .phoneDiv > img {
    position: relative;
  }
  .circleContainer {
    padding-top: 0;
  }
  .mainCircle {
    margin-top: 50px;

    background-size: 150%;
    background-position: 50% -90%;
  }
}
